.slider {
	touch-action: none;
	display: grid;
	grid-template-columns: 100%;
	box-sizing: border-box;
	--total: 20;
	--nb: 1;
	--slideWidth: calc((100% / var(--nb)) - (((var(--nb) - 1) * var(--gap)) / var(--nb)));
}
.slider-content {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(var(--total), var(--slideWidth));
	grid-gap: var(--gap);
	width: 100%;

	&.onswipe {
		cursor: grab;
		user-select: none;

		a,
		button {
			pointer-events: none;
		}
	}
}
.slider-pagination {
	display: inline-grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	grid-column: 1;
	grid-row: 2;
	justify-self: center;
	margin-top: 25px;

	button {
		width: 10px;
		height: 10px;
		background-color: var(--color-gray-light);
		border-radius: 50%;
		display: none;
		cursor: pointer;
		border: none;
		
		&.active {
			background-color: var(--color-2);
		}
	}
}
.slider-btn {
	z-index: 2;
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #f5f5f5;
	border: 1px solid black;
	margin: 0;

	&[aria-disabled=true]{
		opacity: .5;
	}
	&.prev {
        justify-self: start;
	}
	&.next {
        justify-self: end;
	}
}